In [1]:
import subprocess
import time
import os
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
arquivos = os.listdir('output/')
l1=[]
for e in arquivos:
    l2 = []
    with open(f'output/{e}') as f:
       for line in f:
           # For Python3, use print(line)
           l2.append(line.split()[1])
    l1.append(l2)

In [3]:
with open(f'output/{arquivos[0]}') as f:
   for line in f:
       # For Python3, use print(line)
       print(line)

Time: 25105254

max 49354930

N_filmes 40000

N_cat 10000

TAMANHO 257

TEMPO: 24

tamanho2: 257

In [4]:
df = pd.DataFrame(l1,columns = ['Tempo','max','n_filmes','n_cat','tamanho','horas','t2'])

In [5]:
df

       Tempo        max n_filmes  n_cat tamanho horas   t2
0   25105254   49354930    40000  10000     257    24  257
1   55030728     494554   100000   1000     629    24  629
2   24671954     482303    45000   1000     298    24  298
3   19665630   49966430    30000  10000     204    24  204
4   14897594         45    30000     10      45    10   45
5   28052655   50343731    45000  10000     265    24  265
6   22868351   50001904    35000  10000     245    24  245
7   19190044     495637    35000   1000     227    24  227
8   27188414   12415618    45000   5000     265    24  265
9   16306165     125845    30000    500     196    24  196
10  27186797     476604    40000   1000     260    24  260
11  30932857   50161340    50000  10000     330    24  330
12  19070398     123988    35000    500     226    24  226
13  18151973   12505984    30000   5000     221    24  221
14  29891534   12432476    50000   5000     318    24  318
15  24094342   12385146    40000   5000     259    24  259
16  27514279     503575    50000   1000     333    24  333
17  16738419       4409    30000    100     183    24  183
18  25372350  451891555    30000  30000     195    24  195
19  16544470     503611    30000   1000     203    24  203